.alertYellow .x-grid-cell {
        background-color: #FFEE58 !important;
    }
    
.alertOrange .x-grid-cell {
        background-color: #FFB300 !important;
}

.alertNormal .x-grid-cell {
        background-color: transparent; !important;
}

.alertRed .x-grid-cell {
        background-color: red !important;
        color:#fff; !important;
}
    
.increaseSize:hover {
transform: scale(1.2);
}


body {
  font: 14px Arial, Helvetica, sans-serif;
  background: #fff;
}

.valign_class td { vertical-align: top; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#page-loader {
    background:  url(../images/loading.gif) no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.buttonStyle
{
border: 1px solid #bbb;
}

.errWindowCls .x-window-body > .x-box-inner {
        overflow: scroll;
}

.extra-large-cell-grid  table tbody tr.x-grid-row {
    height: 30px;
}
.extra-large-cell-grid  table tbody tr.x-grid-row td.x-grid-cell {
    vertical-align: middle;
    height: 30px;
} 

.x-panel-header-default {
    background-color: green;
}

.tabpanel .x-tab-default .x-tab-inner {

    font-size:11px;
    color: #969696;

}

.tabpanel .x-tab-active .x-tab-inner{
    font-weight:bold;
      color: #000;
}
    
.greyGridTable {
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:55%;
    left:38%;
}

table.greyGridTable {
  font: 16px Tahoma, Verdana, sans-serif;
  border: 2px solid #FFFFFF;
width:50%;
  text-align: left;
  border-collapse: collapse;

}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
  height:40px;
}
table.greyGridTable tbody td {
  font-size: 13px;
  font-weight: bold;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
    height:40px;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}

table.greyGridTable tfoot td {
  font-size: 19px;
}

.dashGridTable {
    position:fixed;
    margin-left:-150px; /* half of width */
    margin-top:-150px;  /* half of height */
    top:55%;
    left:50%;
}

table.dashGridTable {
  font: 16px Tahoma, Verdana, sans-serif;
  border: 2px solid #FFFFFF;
  width:15%;
  text-align: left;
  border-collapse: collapse;

}
table.dashGridTable td, table.dashGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
  height:30px;
}
table.dashGridTable tbody td {
  font-size: 13px;
  font-weight: bold;
}
table.dashGridTable td:nth-child(even) {
  background: #EBEBEB;
    height:30px;
}

table.dashGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}

table.dashGridTable tfoot td {
  font-size: 19px;
}


.center-div
{
     margin: 20 auto;
     width: 100px; 
}

.deleteStyle {
	background: #b30000;
	font-size: 11px;
}

.x-tab-active button {
    color: #2B6CC4 !important;
    text-decoration: underline;
}

.box {
    background-image: url(../images/box.png) !important;
}

.user-group {
    background-image: url(../images/user-group.png) !important;
}

.udc {
    background-image: url(../images/udc.png) !important;
}

.dashboard {
    background-image: url(../images/dashboard.png) !important;
}

.file {
    background-image: url(../images/file.png) !important;
}

.notepad {
    background-image: url(../images/notepad.png) !important;
}

.calendar {
    background-image: url(../images/calendar.png) !important;
}

.path {
    background-image: url(../images/path.png) !important;
}
.icon-menuHdr {
    background-image: url(../images/menuItem.png) !important;
}

.icon-maximize {
    background-image: url(../images/maximize.png) !important;
}

.icon-appWindow {
    background-image: url(../images/application_windows_edit.png) !important;
}

.icon-cancel {
    background-image: url(../images/document_remove.png) !important;
}

.icon-user {
    background-image: url(../images/user.png) !important;
}

.icon-user-add {
    background-image: url(../images/user_add.gif) !important;
}

.icon-zip {
    background-image: url(../images/icon-zip.png) !important;
}

.icon-save {
    background-image: url(../images/save.gif) !important;
}

.icon-reset {
    background-image: url(../images/stop.png) !important;
}

.icon-grid {
    background-image: url(../images/grid.png) !important;
}

.icon-pdf {
    background-image: url(../images/pdf_icon_small.gif) !important;
}

.icon-excel {
    background-image: url(../images/excel-icon-small.gif) !important;
}

.icon-document {
    background-image: url(../images/documentsmall.png) !important;
}

.icon-bulletMenu {
    background-image: url(../images/arrow_state_blue_right.png) !important;
}

.icon-add {
    background-image: url(../images/add.png) !important;
}

.icon-print {
    background-image: url(../images/icon_print_small2.gif) !important;
}

.icon-refresh {
    background-image: url(../images/table_refresh.png) !important;
}

.icon-delete {
    background-image: url(../images/delete.png) !important;
}

.icon-accept {
    background-image: url(../images/accept.png) !important;
}

.icon-close {
    background-image: url(../images/close.png) !important;
}

.icon-search {
    background-image: url(../images/application_view.png) !important;
}

.icon-doSearch {
    background-image: url(../images/table_refresh.png) !important;
}

.icon-appgo {
    background-image: url(../images/application_go.png) !important;
}

.icon-cog {
    background-image: url(../images/cog.png) !important;
}

.icon-dot {
    background-image: url(../images/dot.gif) !important;
}

.icon-stop {
    background-image: url(../images/stop.png) !important;
}

.icon-imgadd {
    background-image: url(../images/image_add.png) !important;
}

.icon-userGray {
    background-image: url(../images/user_gray.png) !important;
}

.hdrTable{
  height:99px;
  background-image: url(../images/topBanner3.png) !important; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.hdrTable tr td{
  color:#000;
  text-align:center;
  font: 14px Tahoma, Verdana, sans-serif;
}

.resSingle img { float:left; }

.msg .x-box-mc {
    font-size:11px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 12px;
}
#msg-div .msg p {
    margin: 0;
}

.outlineField {
    background-image:none;
    /*background-color:#ffcc66;*/
    color: #000;
    font-weight: bold;
   -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    
}

.red-editor textarea
{
    background: none;
    background-color: #ffcc66;
    padding-top: 5px;
    font-size:11px;
    font-weight: bold;
    color: #000;
}

.white-editor
{
    background: none;
    padding-top: 2px;
    font-size:11px;
    font-weight: bold;
    color: #000;
}

.x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 4px;
    padding-bottom: 2px;
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-cell-checkcolumn .x-grid-cell-inner {
    padding-top: 3px;
}
.x-grid-checkheader {
    height: 14px;
    background-image: url('../images/unchecked.gif');
    background-position: 50% -2px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.x-grid-checkheader-checked {
    background-image: url('../images/checked.gif');
}

.x-grid-checkheader-editor .x-form-cb-wrap {
    text-align: center;
}

.icon-delActn {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-addActn {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-printActn {
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-openActn {
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-openInvoiceActn {
    margin-left: 15px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.change-row {
	background-color: #ffffa8;
    border-color:#FA1505;}

 .x-grid-row .relevant-column { 
    font-weight: bold; 
}

.relevant-row .x-grid-cell { 
    background-color: #ffffa8; 
    color: red; 
    font-weight: bold; 
}

.x-grid-row-summary {
    background-color: #bbb;
    font: 11px Tahoma, Verdana, sans-serif; 
    font-weight: bold;
}

.alert-row .x-grid-cell { 
    color: red; 
}

.x-grid-row .bold-column { 
    background-color: #ecf; 
    color: #090; 
    font-weight: bold; 
}

.extra-font .x-grid-row .x-grid-cell { 
    font-size: 13px; 
    background-color: #fff;
    height: 20px; 
    padding-top:7px;
}

.go-btn .x-btn-inner{ 
    font-size: 13px;
    margin-left:5px; 
}

.green-row .x-grid-cell { 
    color: #16CC24;
    font-weight:bold; 
}

.newSupplierButton {
	background-color:#333;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:font: 18px Tahoma, Verdana, sans-serif;
	font-size:13px;
	padding:2px 17px;
	text-decoration:none;
	text-shadow:0px -1px 0px #333;
}

.newSupplierButton:hover {
	background-color:#666;
}