<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

<!-- 
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close" p:driverClassName="${jdbc.driverClassName}"
		p:url="${jdbc.databaseurl}" p:username="${jdbc.username}" p:password="${jdbc.password}" />
-->

	<bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource"  destroy-method="close">
				<property name="jdbcUrl" value="${jdbc.databaseurl}"/>
				<property name="driverClassName" value="${jdbc.driverClassName}"/>
				<property name="password" value="${jdbc.password}"/>
				<property name="username" value="${jdbc.username}"/>
                <property name="maximumPoolSize" value="10" />
                <property name="maxLifetime" value="30000" />
                <property name="idleTimeout" value="1800000" />
                <property name="dataSourceProperties">
                          <props>
                               <prop key="prepStmtCacheSize">250</prop>
                               <prop key="prepStmtCacheSqlLimit">2048</prop>
                               <prop key="cachePrepStmts">true</prop>
                               <prop key="useServerPrepStmts">true</prop>
                          </props>
                </property>
	</bean>			
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource"><ref local="dataSource"/></property>
         <property name="packagesToScan" value="com.eurest.supplier.model" />
        <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">${jdbc.dialect}</prop>
            <prop key="hibernate.show_sql">false</prop>
			<prop key="hibernate.hbm2ddl.auto">update</prop>
			<prop key="connection.autocommit">true</prop> 
			<prop key="hibernate.connection.useUnicode">true</prop>
            <prop key="hibernate.connection.characterEncoding">UTF-8</prop>
            <prop key="hibernate.connection.charSet">UTF-8</prop>
            <prop key="hibernate.jdbc.batch_size">50</prop>
            <prop key="hibernate.jdbc.batch_versioned_data">true</prop>
            <prop key="connection.pool_size">10</prop>
        </props>
        </property>
    </bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>		
	
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory">
            <ref bean="sessionFactory" />
        </property>
    </bean>
	
	<tx:annotation-driven />
	
	

</beans>